# Greenfield Generated nginx.conf
# Bundle variables available in template:
#   x = {{ x }}
#   y = {{ y }}
# Resource config:
#   owner = {{ owner }}
#   mode = {{ mode }}

server {
    listen 80;
    server_name localhost;
}
